img.icon-logo{
    border-radius: 5px; /* roundness of photo */
    height: auto;
    max-width: 100%;
    /* for basic responsive design */
    width: 70px;
}

@media only screen and (max-width: 1024px) {
    img.icon-logo{
        max-width: 70%;
    }
  }

  img.social-media-logo{
    border-radius: 5px;
    height: 70%;
    max-width: 100%;
    width: 40px;
}

img.home-firepic, img.site-teach, img.site-code, img.work-pic,
img.casual-pic, img.travel-pic{
    border-radius: 5px;
    height: auto;
    max-width: 100%;
    width: 500px;
}

img.site-note{
    border-radius: 5px;
    height: auto;
    max-width: 100%;
    width: 100px;
}

img.icon-logo:hover{
    box-shadow: 0 0 2px 1px rgba(177, 199, 8, 0.5);
}

img.site-note{
    border-radius: 5px;
    height: auto;
    max-width: 100%;
    width: 100px;
}

img.header-style{
    border-radius: 0px;
    height: 400px;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

/* */